.apply_box{
    border: 2px solid black;
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 40px;
    text-align: center;
    text-shadow: 30px solid aquamarine;
    border-radius: 30px;
    box-shadow: 1.5px 1.5px 30px aqua;
    height:fit-content;
}
h1{
    text-align: center;
    color: rgb(255, 153, 0);
}
form{
    margin: 5px;
}
textarea{
   height: 100px;
   width: 190px;
   border: 2px solid black;
   border-radius: 20px;
}
#first_name{
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom:5px;
     margin-left: 5px;
     margin-right: 5px;
     box-shadow: 1.4px 1.4pxaqua;
    }
 #last_name{ border-radius: 5px;

    border: 2px solid black;
   margin: 10px;
     box-shadow: 1.4px 1.4px 30px aqua;}
     #email{
        border-radius: 5px;
        border: 2px solid black;
        margin-top: 5px;
        margin-bottom:5px;
         margin-left: 5px;
         margin-right: 5px;
         box-shadow: 1.4px 1.4px 30px aqua;
     }
     #job_role{
        border-radius: 5px;
        border: 2px solid black;
        margin-top: 5px;
        margin-bottom:5px;
         margin-left: 19px;
         margin-right: 5px;
         box-shadow: 1.4px 1.4px 30px aqua;
         display:flex;
     }
     .kon{
        display: inline;
     }
  #city{
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom:5px;
     margin-left: 19px;
     margin-right: 5px;
     box-shadow: 1.4px 1.4px 30px aqua;
     display:flex;
  }
  #pincode{
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom:5px;
     margin-left: 19px;
     margin-right: 5px;
     box-shadow: 1.4px 1.4px 30px aqua;
     display:flex;
  }

  #date{
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom:5px;
     margin-left: 19px;
     margin-right: 5px;
     box-shadow: 1.4px 1.4px 30px aqua;
     display:flex;
  }
  button{
    border-radius: 5px;
    border: 2px solid black;
    background-color: chartreuse;

   
    
  }
  button :hover ::before {
    background-color: rgb(255, 0, 123);
  }